<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="head-element">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:inline="text">[[${pageTitle}]]</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="/css/admin-main.css" rel="stylesheet" type="text/css">

    <script src="/js/vendor/react.development.js" crossorigin></script>
    <script src="/js/vendor/react-dom.development.js" crossorigin></script>

    <!-- Render dynamically added javascripts -->

    <th:block th:replace="__${javaScriptData}__"></th:block>

    <th:block th:each="oneScript : ${javascript}">
        <script th:src="${oneScript}" crossorigin></script>
    </th:block>
</head>
<body>

<div class="header-container" th:fragment="header">
    <header>
        <div class="company-name">
            <a href="/admin/">Igor Ivkin Lab</a>
        </div>
        <div class="welcome">
            Привет, <span th:text="${#authentication.getPrincipal().getUsername()}"></span>! <a href="/account/doLogout">Выйти</a>
        </div>
    </header>
</div>

<div th:fragment="left-menu">
    <nav class="left-menu">
        <ul class="menu-items">
            <li class="menu-item">
                <a href="/admin/">Главная</a>
            </li>
            <li class="menu-item">
                <a href="/admin/topics/">Темы статей</a>
            </li>
            <li class="menu-item">
                <a href="/admin/articles/">Статьи</a>
            </li>
        </ul>

        <div class="copyright">
            <span class="title">Игорь Ивкин</span><br />
            Администраторский интерфейс &copy;2021
        </div>
    </nav>
</div>

<div class="footer" th:fragment="footer">
</div>
</body>
</html>