<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div th:fragment="content">
    <h1>Создать новый курс</h1>

    <div class="breadcrumbs">
        <div class="item"><a href="/admin/courses/">Курсы</a></div>
        <div class="divider">/</div>
        <div class="item">Создать новый курс</div>
    </div>

    <form class="basic-form" id="course-edit-form" method="post" th:action="@{/admin/courses/do-add/}">
        <div class="section">
            <label for="title">Название курса</label><br />
            <input type="text" id="title" name="title" required="required" maxlength="255" autocomplete="off">
        </div>

        <!--
        <div class="section">
            <label for="description">Краткое описание курса</label><br />
            <textarea id="description" name="description" required="required"></textarea>
        </div>
        -->

        <div class="section">
            <span class="button-item">
                <button class="button button-add">Добавить</button>
            </span>
        </div>
    </form>
</div>
</body>
</html>