<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div th:fragment="content">
    <div class="about">
        <h1>О сайте</h1>

        <div class="pictures">
        </div>

        <div class="paragraph">
            Привет! Вы зашли на сайт лаборатории Игоря Ивкина. Я тут публикую всякие статьи. В основном, они
            все о программировании, но могу что-нибудь сочинить и на другие темы. У статей есть темы, и у многих &mdash;
            несколько.
        </div>
        <div class="paragraph">
            Ещё на сайте есть <a href="/courses">курсы</a>. На самом деле это не совсем настоящие учебные курсы. Каждый
            курс &mdash; это просто набор статей, и мне подумалось, что они будут полезными в рамках какой-то общей темы.
            Я не обещаю, что по этим курсам вы чему-нибудь научитесь.
        </div>
        <div class="paragraph">
            Как видите, я поставил на эту страницу довольно-таки айтишную картинку. Тут какие-то цифры загадочно переливаются
            на чёрном фоне. Наверное, это должно символизировать то, что я айтишный профессионал. Если я вдруг вам понадоблюсь,
            то вот что я умею:
            <ul>
                <li>бэкенд-разработка на Java, Kotlin, Python, PHP</li>
                <li>разные реляционные СУБД: PostgreSQL, MySQL, Firebird и другие</li>
                <li>разные нереляционные СУБД: MongoDB, Redis, Cassandra и другие</li>
                <li>всякие очереди и брокеры сообщений, например, Kafka и RabbitMQ</li>
                <li>микросервисная архитектура и распил монолитов</li>
                <li>фронтенд-разработка: HTML/CSS, Javascript (умею на Vue.js, слегка React)</li>
                <li>техническое руководство командой (соображаю также в тестировании, аналитике, умею писать и читать
                документацию)</li>
            </uL>
            В общем, если вам будет интересно со мной пообщаться, <a href="/contact">напишите мне</a>!
        </div>
    </div>
</div>
</body>
</html>