<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница входа</title>
</head>
<body>
<h1>Страница входа</h1>
<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/account/doLogin}" method="post">
    <label for="username">Логин</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Пароль</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="checkbox" id="remember-me" name="remember-me" /> <label for="remember-me">Запомнить меня</label><br />
    <input type="submit" value="Войти" />
</form>

</body>
</html>