<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div th:fragment="content">
    <h1>Добавить тему для статей</h1>

    <div class="breadcrumbs">
        <div class="item"><a href="/admin/topics/">Темы для статей</a></div>
        <div class="divider">/</div>
        <div class="item">Добавить тему</div>
    </div>

    <form class="basic-form" id="topic-edit-form" method="post" th:action="@{/admin/topics/do-add/}">
        <div class="section">
            <label for="title">Название темы</label><br />
            <input type="text" id="title" name="title" required="required" maxlength="255">
        </div>

        <div class="section">
            <button class="button button-add">Добавить</button>
        </div>
    </form>
</div>
</body>
</html>