<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div th:fragment="content">
  <h1 th:text="${article.title}">Заголовок статьи</h1>
  <div class="update">
    <span class="datetime" th:text="${#temporals.format(article.updatedAt, 'dd.MM.yyyy в HH:mm')}"></span>
  </div>
  <div class="topics">
    <div class="item" th:each="topic: ${article.topics}">
      <a th:href="@{/articles/topics/{topicId}/page/1(topicId=${topic.id})}" th:text="${topic.title}"></a>
    </div>
  </div>
  <div th:utext="${article.content}"></div>
</div>
</body>
</html>